@using HolidayWebChat.DataAccess
@model ChatBotModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello! I am a friendly Holiday Chat Bot.</h1>
    <form method="post" asp-controller="Home" asp-action="QuestionOneSubmit">
        <h3 class="h3">First, please tell me which Continent you would prefer to visit...</h3>
        <div class="text-center">
           @Html.TextBoxFor(m => m.Continent)
            
        </div>
        <br />
        <input type="submit" value="Keep talking">
    </form>
</div>