@using HolidayWebChat.DataAccess
@model ChatBotModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello! I am a friendly Holiday Chat Bot.</h1>
    <form method="post" asp-controller="Home" asp-action="QuestionThree">
        <h3 class="h3">Great! Now, I'd like to know if you have a City in mind...'</h3>
        <div class="text-center">
            @Html.TextBoxFor(m => m.City)
            @Html.HiddenFor(m => m.Country)
            @Html.HiddenFor(m => m.Continent)
        </div>
        <br />
        <input type="submit" value="Take Me There">
    </form>
</div>